//
// Flow
// ----------------------------------------------------------------------------------
.flow-container {
  margin: 0 auto;
  width: 100%;
  * {
    box-sizing: border-box;
  }
  .row {
    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    [class *="col-"] {
      float: left;
    }
    &.gutter {
      margin: 0 -1%;
      >[class *="col-"] {
        padding: 0 1%;
      }
    }
    .col-1-1 {
      width: 100%
    }
    .col-2-1 {
      width: 50%;
    }
    .col-3-1 {
      width: 33.33%;
    }
    .col-3-2 {
      width: 66.67%;
    }
    .col-4-1 {
      width: 25%;
    }
    .col-4-2 {
      width: 50%;
    }
    .col-4-3 {
      width: 75%;
    }
  }
}

//
// Grids
// ----------------------------------------------------------------------------------
$grid-padding: 10px !default;
$grid-font-size: 12px !default;
.grid-container {
  margin: 0 auto;
  padding: 0;
  /*
    define content:
    --row
    --column
  */
  .row {
    font-size: 0;
    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    >[class *="col-"] {
      float: left;
      font-size: $grid-font-size;
    }
  }
}


/* child element size with border-box */

.grid-container * {
  box-sizing: border-box;
}


/* start media query */


/* screen width less than 480px */

@media all and (max-width: 480px) {
  .grid-container {
    max-width: 460px;
    .row {
      >.col-1 {
        width: 25%;
      }
      >.col-2 {
        width: 50%;
      }
      >.col-3 {
        width: 75%;
      }
      >.col-4,
      >.col-5,
      >.col-6,
      >.col-7,
      >.col-8,
      >.col-9,
      >.col-10,
      >.col-11,
      >.col-12 {
        width: 100%;
      }
      >.col-offset-1 {
        margin-left: 25%;
      }
      >.col-offset-2 {
        margin-left: 50%;
      }
      >.col-offset-3 {
        margin-left: 75%;
      }
      >.col-offset-4,
      >.col-offset-5,
      >.col-offset-6,
      >.col-offset-7,
      >.col-offset-8,
      >.col-offset-9,
      >.col-offset-10,
      >.col-offset-11,
      >.col-offset-12 {
        margin-left: 100%;
      }
    }
  }
}


/* screen width more than 480px less than 840px */

@media all and (max-width: 840px) and (min-width: 481px) {
  .grid-container {
    max-width: 720px;
    .row {
      >.col-1 {
        width: 12.5%;
      }
      >.col-2 {
        width: 25%;
      }
      >.col-3 {
        width: 37.5%;
      }
      >.col-4 {
        width: 50%;
      }
      >.col-5 {
        width: 62.5%;
      }
      >.col-6 {
        width: 75%;
      }
      >.col-7 {
        width: 87.5%;
      }
      >.col-8,
      >.col-9,
      >.col-10,
      >.col-11,
      >.col-12 {
        width: 100%;
      }
      >.col-offset-1 {
        margin-left: 12.5%;
      }
      >.col-offset-2 {
        margin-left: 25%;
      }
      >.col-offset-3 {
        margin-left: 37.5%;
      }
      >.col-offset-4 {
        margin-left: 50%;
      }
      >.col-offset-5 {
        margin-left: 62.5%;
      }
      >.col-offset-6 {
        margin-left: 75%;
      }
      >.col-offset-7 {
        margin-left: 87.5%;
      }
      >.col-offset-8,
      >.col-offset-9,
      >.col-offset-10,
      >.col-offset-11,
      >.col-offset-12 {
        margin-left: 100%;
      }
    }
  }
}

@media all and (max-width:840px) {
  .grid-container {
    .row.gutter {
      margin: 0 -4px;
      >[class *="col-"] {
        padding: 0 4px;
      }
    }
  }
}

@media all and (min-width:841px) {
  .grid-container {
    .row {
      >.col-1 {
        width: 8.33%;
      }
      >.col-2 {
        width: 16.66%;
      }
      >.col-3 {
        width: 25%;
      }
      >.col-4 {
        width: 33.33%;
      }
      >.col-5 {
        width: 41.66%;
      }
      >.col-6 {
        width: 50%;
      }
      >.col-7 {
        width: 58.33%;
      }
      >.col-8 {
        width: 66.66%;
      }
      >.col-9 {
        width: 75%;
      }
      >.col-10 {
        width: 83.33%;
      }
      >.col-11 {
        width: 91.66%;
      }
      >.col-12 {
        width: 100%;
      }
      >.col-offset-1 {
        margin-left: 8.33%;
      }
      >.col-offset-2 {
        margin-left: 16.66%;
      }
      >.col-offset-3 {
        margin-left: 25%;
      }
      >.col-offset-4 {
        margin-left: 33.33%;
      }
      >.col-offset-5 {
        margin-left: 41.66%;
      }
      >.col-offset-6 {
        margin-left: 50%;
      }
      >.col-offset-7 {
        margin-left: 58.33%;
      }
      >.col-offset-8 {
        margin-left: 66.66%;
      }
      >.col-offset-9 {
        margin-left: 75%;
      }
      >.col-offset-10 {
        margin-left: 83.33%;
      }
      >.col-offset-11 {
        margin-left: 91.66%;
      }
      >.col-offset-12 {
        margin-left: 100%;
      }
    }
    .row.gutter {
      margin: 0 -8px;
      >[class *="col-"] {
        padding: 0 8px;
      }
    }
  }
}


/* screen width more than 840px less than 1280px */

@media all and (max-width: 1480px) and (min-width: 841px) {
  .grid-container {
    max-width: 960px;
  }
}


/* screen width more than 1280px */

@media all and (min-width: 1481px) {
  .grid-container {
    max-width: 1200px;
  }
}
